/* .btnRatioChecked {
    background-color: #0d6efd !important;
}

.btnSelectedDisabled {
    background-color: #b7b7b7 !important;
} */



.fundo-texto {
    background-color: #fff3cd;
    color:#664d03;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
}

/* .input-group {
    width: 13% !important;
} */