.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
}
.form-signin .checkbox {
  font-weight: 400;
}

fa-icon{
    color: var(--gray);
}
.configs-position-icon{
    position: fixed;
    right: 5px;
}

.hight-contrast .bg-login{
  background-color: #000000 !important;
}

.hight-contrast .form-check-input{
  border-color: #ffffff !important;
}
