.sidebar-logo {
  width: 11.25rem;
  height: 6.656rem;
  margin-bottom: 25px;
}

#sidebar {
  i {
    display: inline-block;
    color: var(--bs-white);
    text-decoration: none;
    transition: all 0.3s;
  }

  span {
    display: inline-block;
    color: var(--bs-white);
    text-decoration: none;
    transition: all 0.3s;
  }

  min-width: 250px;
  max-width: 250px;
  height: 100%;
  transition: all 0.3s;
  padding: 10px;
  text-align: center;
  background-color: var(--bs-secondary);
  color: var(--bs-white);
  background-image: url('../../../../assets/bg-menu.svg');
  background-size: auto;
  position: fixed;
  overflow-y: auto;
  z-index: 2;

  ul {
    li {
      a {
        text-align: left;
        display: block;
        color: var(--bs-white);
        text-decoration: none;

        i {
          margin-right: 10px;
        }
      }

      fa-icon {
        width: 38px !important;
        height: 38px !important;
        min-width: 38px;
        min-height: 38px;
        text-align: center;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
      }

      font-weight: bold;
    }
  }

  .sidebar-header {
    strong {
      display: none;
    }
  }

  li.active {
    a {
      span {
        color: var(--bs-white);
      }
    }
  }

  li {
    &:active {
      a {
        span {
          &::after {
            content: "";
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 100px;
            background-color: var(--bs-primary);
            position: relative;
            bottom: -4px;
          }
        }
      }
    }
  }
}

.hight-contrast {
  #sidebar {
    border-right: 1px solid var(--bs-white);

    * {
      background-color: transparent !important;
    }
  }
}
