
  <div class="modal-content" id="modalContent">
    <div class="modal-header border-bottom-0">
      <h5 class="modal-title">Adicionar Empenho</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="this.modal.close()"></button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="numeroEmpenho" class="form-label">Nº do Empenho <span class="text-danger">*</span></label>
        <div class="position-relative">
          <input 
            class="form-control" 
            id="numeroEmpenho" 
            name="numeroEmpenho"
            (keydown)="buscarEmpenhos($event)" 
            [(ngModel)]="numeroEmpenho" 
            [ngModelOptions]="{standalone: true}"
            autocomplete="off" 
            />
            <div 
              class="spinner-border spinner-border-sm text-info" 
              role="status" 
              *ngIf="loading" 
              style="position: absolute; right: 10px; top: 10px;">
              <span class="sr-only">Loading...</span>
            </div>
          <div *ngIf="empenhos.length > 0" class="autocomplete">
            <div *ngFor="let empenho of empenhos" (click)="selecionarEmpenho(empenho)">
              {{ empenho.numeroEmpenho + ' - ' + this.utils.compactText(empenho.descricaoProjeto)}}
            </div>
          </div>
          <div class="autocomplete" *ngIf="search && empenhos.length === 0">
            <div class="text-center">
              Nenhum empenho encontrado.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer border-top-0">
      <button type="button" class="btn btn-light border" (click)="this.modal.close()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="adicionarEmpenho()">Adicionar</button>
    </div>
  </div>



