  <div
    class="modal fade"
    id="confirmationDialog"
    tabindex="-1"
    aria-labelledby="confirmationDialogLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="confirmationDialogLabel">{{title}}</h5>
        </div>
        <div class="modal-body">{{body}}</div>

        <div class="modal-footer border-top-0">
          <button
            type="button"
            class="btn btn-light border"
            data-bs-dismiss="modal">
            Não
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="onConfirmClick()">
            Sim
          </button>
        </div>
      </div>
    </div>
  </div>