<div class="modal-header border-bottom-0">
    <h6 class="modal-title">Gestores e Fiscais</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
              <div class="col-5">
                <label class="form-label">Função <span class="text-danger">*</span></label>
                <select
                  class="form-select"
                  name="tipoGestor"
                  [(ngModel)]="tipoGestor"
                  >
                  <option value="" class="text-center">
                    -- Selecione --
                  </option>
                  <option value="GESTOR">Gestor</option>
                  <option value="FISCAL_TECNICO">Fiscal Tecnico</option>
                  <option value="FISCAL_ADMINISTRATIVO">Fiscal Administrativo</option>
                  <option value="FISCAL_DEMANDANTE">Fiscal Demandante</option>
                </select>
              </div>

              <div class="col-5">
                <label for="gestor" class="form-label">Nome <span class="text-danger">*</span></label>
                <div class="position-relative">
                  <input 
                    class="form-control" 
                    id="gestor" 
                    name="gestor"
                    [(ngModel)]="nomeGestor"
                    (click)="mostrarLista = !mostrarLista;"
                    (keydown)="callBuscarGestores($event)" 
                    autocomplete="off" 
                    placeholder="Pesquisar..."/>
                    <div class="spinner-border spinner-border-sm text-info" role="status" *ngIf="buscarGestor" style="position: absolute; right: 10px; top: 10px;">
                      <span class="sr-only">Loading...</span>
                    </div>
                  <div *ngIf="mostrarLista && listaGestores.length > 0" class="autocomplete">
                    <div *ngFor="let gestor of listaGestores" (click)="selecionarGestor(gestor)">
                      {{ gestor.nome }}
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-2 d-flex align-items-end justify-content-center">
                 <button [disabled]="!nomeGestor || !tipoGestor" type="button" class="btn btn-primary" (click)="adicionarGestor()">Adicionar</button>
            </div>
    </div>
    <label class="form-label">Gestores e Fiscais</label>
    <div class="list-group">
      <ng-container *ngFor="let gestor of gestores let i = index">
        <div class="list-group-item d-flex row p-0 m-0">
          <div class="col-4 bg-light p-2">
            <span class="ms-2">{{ this.tipos[gestor.tipoGestor] }}</span>
          </div>
          <div class="col-6 p-2">
            <span>Nome: {{
                gestor.nome.length > 25
                    ? gestor.nome.substring(0,25) + "..."
                    : gestor.nome    
            }}</span>
          </div>
          <div class="d-flex col-2 justify-content-end align-items-center">
            <button
              type="button"
              class="btn bg-transparent text-secondary"
              title="Excluir"
              (click)="removeGestor(i)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>

          </div>

        </div>
      </ng-container>
      <div *ngIf="gestores.length === 0" class="text-center">
        <p>Adicione novos Gestores ou Fiscais.</p>
      </div>
    </div>
</div>
<div class="modal-footer border-top-0">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="confirmSelection()" [disabled]="this.gestores.length == 0">Salvar</button>
</div>
  